# Python cache files
__pycache__/
*.py[cod]

# Environment variables / virtual environment folders
venv/
env/
.venv/

# Database files
db.sqlite3

# Django stuff:
*.log
*.pot
*.pyc
media/
staticfiles/

# IDE/editor files
.vscode/
.idea/